# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data / local DB (if you don't want to track)
Data/

# Lambda build artifacts
lambda_build/
lambda_deploy.zip
